FORMAT: 1A
HOST: http://apix.pinnaclesports.com/responsible-gaming

# Responsible gaming

*Responsible gaming* is meant to promote autocontrol in the gaming industry.

## Headers

`Content-Type: application/json`

`Authorization: {token}`

## Response Codes

<table> 
    <tr> 
        <td>200</td><td nowrap><code>OK</code></td> 
    </tr> 
    <tr> 
        <td>201</td><td nowrap><code>Created</code></td> 
    </tr> 
    <tr> 
        <td>204</td><td nowrap><code>No Content</code></td> 
    </tr>
    <tr> 
        <td>400</td><td nowrap><code>Bad Request</code></td> 
    </tr> 
    <tr> 
        <td>401</td><td nowrap><code>Unauthorized</code></td> 
    </tr>
        <tr> 
        <td>404</td><td nowrap><code>Not found</code></td> 
    </tr>
    <tr> 
        <td>500</td><td nowrap><code>Internal Server Error</code></td> 
    </tr> 
</table> 

#Group Customer


## Deposit limit [/customers/{customerId}/deposit-limit]

### Retrieve customer's deposit limit [GET]

+ Parameters
    + customerId (string)

+ Request

    + Headers
         
            Content-Type: application/json
            Authorization: {token}  

+ Response 200

    + Body
    
            {
                "PeriodInHours": 672,
                "PeriodInDays": 28,
                "StartDate": "2016-05-19T09:29",
                "CurrentCycleStartDate": "2016-05-19T09:29",
                "Amount": 100,
                "Status": "Active",
                "AddedBy": "cesarc",
                "DateAdded":"2016-05-19T09:29"
            }

+ Response 401

+ Response 404

+ Response 500

### Set customer's deposit limit [PUT]

+ Request(application/json)


    + Headers
         
            Authorization: {token}  

    + Body
        
            {
                "PeriodInHours": 672,
                "StartDate": "2016-05-19T09:29",
                "Amount": 100,
                "AddedBy": "cesarc"
            }

+ Response 204

+ Response 400 (application/json)

    + Body
            
            {
                "message": "The request is invalid.",
                "errors": 
                    {
                        "request.PeriodInHours": ["A positive number is expected"],
                        "request.StartDate": ["The field is mandatory"],
                        "request.Amount": ["A positive number is expected"],
                        "request.AddedBy": ["The field is mandatory"]
                    }
            }
            
+ Response 401

+ Response 500

### Disable customer's deposit limit [DELETE]

+ Request

    + Headers
         
            Authorization: {token}  


+ Response 204

+ Response 500

## Self-exclusion [/customer/{customerId}/self-exclusion]

### Retrieve customer's self-exclusion [GET]

+ Request

    + Headers
         
            Content-Type: application/json
            Accept-Language: en-GB
            Authorization: {token}  

+ Response 200

    + Body
    
            {
              "period": "EighteenMonths",
              "limit": 100,
              "resetsAt": "20:00 22/04/2016",
              "timeRemaining": "1 day, 4 hours",
              "coolOffPeriod": "7 days"
            }

+ Response 401

+ Response 404 

+ Response 500

### Set customer's self-exclusion [PUT]

+ Request(application/json)


    + Headers
         
            Accept-Language: en-GB
            Authorization: {token}  

    + Body
        
            {
                "period": "EighteenMonths",
                "limit": 100
            }

+ Response 204

+ Response 400 (application/json)

    + Body
            
            {
                "message": "The request is invalid.",
                "errors": 
                    {
                        "request.period": ["The provided period is not allowed"],
                        "request.limit": ["The limit must be  a positive number"]
                    }
            }
            
+ Response 401

+ Response 500

### Disable customer's self-exclusion [DELETE]

+ Request

    + Headers
         
            Authorization: {token}  


+ Response 204

+ Response 500

## Cooling-off period [/cooling-off]

### Retrieve customer's cooling-off period [GET]

+ Request

    + Headers
         
            Content-Type: application/json
            Accept-Language: en-GB
            Authorization: {token}  

+ Response 200

    + Body
    
            {
              "coolingOffPeriod": "7 days"
            }

+ Response 401

+ Response 404

+ Response 500